body{background-color:#FDEEDC;}
hr{border-style: none;
  border-top-style: dotted;
  width: 25%;
  border-color: #FFD8A9;
  border-width: medium;}
  h1{color: #E38B29;}
  h2{color: #E38B29;}
  h3{color: #E38B29;}
